/* Autor: Wilder Ali Mayta */
.seccion-proyectos {
    background-color: #e4e4e4;
    padding: 60px 0;
}

.proyecto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.proyecto h3 {
    margin-bottom: 10px;
    color: #333;
}

.proyecto p {
    margin-bottom: 10px;
    color: #555;
}
